<h1>Hello, {{place}}!</h1>

<video src="{{video_url}}" autoplay loop></video>

<form action="form_handler" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name" />
    <button type="submit">Post</button>
</form>